<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.petta.catui"
    android:versionCode="1"
    android:versionName="1.0">

    <!-- ★ これを追加（最重要） -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="CAT_android_app">

    <activity
        android:name=".app.MainActivity"
        android:exported="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar.FullScreen"
        android:configChanges="orientation|screenSize|keyboardHidden">        

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
    </application>
</manifest>
